
@{
    ViewData["Title"] = "Bilge Koleji - Giriş";
}
    <div style="background-image: url('/img/figure/home-bg.jpg');" class="login-page-wrap">
               <div style=" margin-left:auto; margin-right:auto; position:absolute;
  padding: 250px; padding-left: 450px; padding-top:400px" class="row">
              <a  button asp-action="Index" asp-controller="Login" asp-area="Teacher"><img src="/img/figure/admin-button.png" /></a>
              <a button asp-action="Index" asp-controller="Login" asp-area="Inspector"><img src="/img/figure/parent-button.png" /></a>
              <a button asp-action="Index" asp-controller="Login" asp-area="Student"><img src="/img/figure/student-button.png" /></a>
        </div>         
    </div>

