@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bilge College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bilge College</h2>
        <p>
            Bilge College is a education center located at Güneysu in Rize
        </p>
    </div>
    <div class="col-md-4">
        <h2>Who we are?</h2>
        <p>We're the best establishment for the needs of students and parents choosed.</p>
        <p><a class="btn btn-default" href="/AboutUs">For more.. &raquo;</a></p>
        <button-save></button-save>
    </div>
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Paragraph.</p>
        <p><a class="btn btn-default" href="/AboutUs">See for more &raquo;</a></p>
    </div>
</div>